__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/
env/
venv/

.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.coverage
.tox/
htmlcov/
.cache/
pytest_cache/

*.log

debug_storage/

/dist/
/build/
/*.egg-info
